*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background:linear-gradient(to bottom,#eee,#ffaf54); */
}
.navi{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.links{
  display: flex;
  gap: 10px;
  
}

.a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.grd{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: brown;
  width: 100%;
}
.page1{
  display: flex;
  justify-content: space-around;
}
.chd{
  width: inherit;
}
.chd button{
  width: inherit;
}